    #{field 'team.players'}
<div class="control-group">
  <label class="control-label" for="${field.name}">Players</label>  <div class="field">
                              <select name="${field.name}.id" multiple>
        %{ models.Player.all().fetch().sort{ it.toString() }.each() { }%
                    %{
            selected = false;
            Team?.players.each() { f ->
              if (f.id == it?.id)
                selected = true;
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
                                            #{ifError 'team.players'}<span class="help-inline">${errors.forKey('team.players')}</span>#{/ifError}
  </div>
</div>
#{/field}    #{field 'team.id'}
<div class="control-group">
    <div class="field">
                                      <input type="hidden" name="${field.name}" value="${field.value}"/>
                #{ifError 'team.id'}<span class="help-inline">${errors.forKey('team.id')}</span>#{/ifError}
  </div>
</div>
#{/field}

