#{extends 'main.html' /}
#{set title:'Edit Team' /}
<div class="row">
    <h2>Edit Team</h2>
    <div class="entity">
        <fieldset>
            #{form @Teams.update(), id:'createForm'}
            #{include 'Teams/_form.html' /}
            <div class="form-actions">
                <input  class="btn btn-large btn-primary" type="submit" name="submit" value="Save" />
                <a class="btn btn-large" href="@{Teams.index}">Cancel</a>
            </div>
            #{/form}
        </fieldset>
    </div>
</div>

