    #{field 'player.name'}
<div class="control-group">
  <label class="control-label" for="${field.name}">Name</label>  <div class="field">
                                              <input type="text" name="${field.name}" value="${field.value}"/>
        #{ifError 'player.name'}<span class="help-inline">${errors.forKey('player.name')}</span>#{/ifError}
  </div>
</div>
#{/field}    #{field 'player.score'}
<div class="control-group">
  <label class="control-label" for="${field.name}">Score</label>  <div class="field">
                                              <input type="text" name="${field.name}" value="${field.value}"/>
        #{ifError 'player.score'}<span class="help-inline">${errors.forKey('player.score')}</span>#{/ifError}
  </div>
</div>
#{/field}    #{field 'player.id'}
<div class="control-group">
    <div class="field">
                                      <input type="hidden" name="${field.name}" value="${field.value}"/>
                #{ifError 'player.id'}<span class="help-inline">${errors.forKey('player.id')}</span>#{/ifError}
  </div>
</div>
#{/field}

