#{extends 'main.html' /}
#{set title:'Matches' /}
<div class="row">
    <h2>Matches</h2>
    <table id="Matches-table" class="table table-striped">
        <thead>
            <tr>
                <th><!-- actions --></th>
			                        <th>Team1</th>
	        			                        <th>Team2</th>
	        			                        <th>Score Team1</th>
	        			                        <th>Score Team2</th>
	        			                        <th>Date</th>
	        			                        <th>Id</th>
	        		            </tr>
        </thead>
        <tbody>
	#{list items:entities, as:'entity'}
            <tr>
                <td>
                    <a class="btn btn-danger" href="@{Matches.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
                    <a class="btn" href="@{Matches.edit(entity.id)}">Edit</a>&nbsp;
                    <a class="btn" href="@{Matches.show(entity.id)}">Show</a>&nbsp;
                </td>
		                                <td>${entity.team1}</td>
                		                                <td>${entity.team2}</td>
                		                                <td>${entity.scoreTeam1}</td>
                		                                <td>${entity.scoreTeam2}</td>
                		                                <td>${entity.date}</td>
                		                                <td>${entity.id}</td>
                		            </tr>
	#{/list}
        </tbody>
    </table>
    <p>
        <a class="btn btn-large btn-primary" href="@{Matches.create}">Create</a>
    </p>
</div>

